<app-header></app-header>
<app-about-section></app-about-section>
<section class="page__responsibilities responsibilities">
  <div class="container">
    <div class="responsibilities__body">
      <h2 class="responsibilities__title title-rigth">
        Что мы можем взять на себя?
      </h2>
      <div class="responsibilities__items">
        <div class="responsibilities__item">
          <p class="responsibilities__item-value">
            Проработка индивидуальной пошаговой стратегии развития коммьюнити и
            работы с ним конкретно под ваш продукт
          </p>
        </div>
        <div class="responsibilities__item">
          <p class="responsibilities__item-value">
            Event-management - удержание коммьюнити,конкурсы, контесты и тд.
          </p>
        </div>
        <div class="responsibilities__item">
          <p class="responsibilities__item-value">
            Создание и управление дискорд-сервером
          </p>
        </div>
        <div class="responsibilities__item">
          <p class="responsibilities__item-value">
            Модерация в ваших социальных сетях (активное участие с временем
            обязательного присутствия, smart-чаттинг)
          </p>
        </div>
        <div class="responsibilities__item">
          <p class="responsibilities__item-value">
            Ведение твиттер-аккаунта, составление контент-плана
          </p>
        </div>
        <div class="responsibilities__item">
          <p class="responsibilities__item-value">
            Коллаб-менеджмент: поиск партнеров, рекламных площадок
          </p>
        </div>
        <div class="responsibilities__item">
          <p class="responsibilities__item-value">
            Организция, поддержка и сопровождение амбассадорской программы
          </p>
        </div>
        <div class="responsibilities__item">
          <p class="responsibilities__item-value">
            Создание контента для анонсов (графика, видео, и др.)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page__advantage advantage">
  <div class="container">
    <div class="advantage__body">
      <div class="advantage__title-left title-left">Преимущества</div>
      <div class="advantage__items">
        <div class="advantage__item">
          <img src="../../../assets/images/7.png" alt="" />
          <p class="advantage__value">8 официальных партнеров</p>
        </div>
        <div class="advantage__item">
          <img src="../../../assets/images/7.png" alt="" />
          <p class="advantage__value">8 официальных партнеров</p>
        </div>
        <div class="advantage__item">
          <img src="../../../assets/images/7.png" alt="" />
          <p class="advantage__value">8 официальных партнеров</p>
        </div>
        <div class="advantage__item">
          <img src="../../../assets/images/7.png" alt="" />
          <p class="advantage__value">8 официальных партнеров</p>
        </div>
        <div class="advantage__item">
          <img src="../../../assets/images/7.png" alt="" />
          <p class="advantage__value">8 официальных партнеров</p>
        </div>
        <div class="advantage__item">
          <img src="../../../assets/images/7.png" alt="" />
          <p class="advantage__value">8 официальных партнеров</p>
        </div>
        <div class="advantage__item">
          <img src="../../../assets/images/7.png" alt="" />
          <p class="advantage__value">8 официальных партнеров</p>
        </div>
        <div class="advantage__item">
          <img src="../../../assets/images/7.png" alt="" />
          <p class="advantage__value">8 официальных партнеров</p>
        </div>
      </div>
      <button class="advantage__btn" routerLink="/contact-us">
        Подать заявку
      </button>
    </div>
  </div>
</section>
<section class="page__accomplishments accomplishments">
  <div class="container">
    <div class="accomplishments__body">
      <h2 class="accomplishments__title title-rigth">Достижения</h2>
      <div class="accomplishments__items">
        <div class="accomplishments__row1">
          <div class="accomplishments__element">
            <div class="accomplishments__results">>20</div>
            <div class="accomplishments__value">настроенных дискордов</div>
          </div>
          <div class="accomplishments__element">
            <div class="accomplishments__results">>1000</div>
            <div class="accomplishments__value">настроенных дискордов</div>
          </div>
          <div class="accomplishments__element">
            <div class="accomplishments__results">>2</div>
            <div class="accomplishments__value">настроенных дискордов</div>
          </div>
        </div>
        <div class="accomplishments__row2">
          <div class="accomplishments__element2">
            <div class="accomplishments__results">>9</div>
            <div class="accomplishments__value">
              of launched Ambassador programs
            </div>
          </div>
          <div class="accomplishments__element2">
            <div class="accomplishments__results">>20</div>
            <div class="accomplishments__value">настроенных дискордов</div>
          </div>
          <div class="accomplishments__element2">
            <div class="accomplishments__results">>200</div>
            <div class="accomplishments__value">events are launched</div>
          </div>
          <div class="accomplishments__element2">
            <div class="accomplishments__results">>5000</div>
            <div class="accomplishments__value">
              people are cited from partners
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page__accomplishments accomplishments">
  <div class="container">
    <div class="accomplishments__body">
      <h2 class="accomplishments__title title-left">Партнеры и проекты</h2>
      <div class="accomplishments__items">
        <div class="accomplishments__row1">
          <div class="accomplishments__element">
            <div class="accomplishments__results">>20</div>
            <div class="accomplishments__value">настроенных дискордов</div>
          </div>
          <div class="accomplishments__element">
            <div class="accomplishments__results">>1000</div>
            <div class="accomplishments__value">настроенных дискордов</div>
          </div>
          <div class="accomplishments__element">
            <div class="accomplishments__results">>2</div>
            <div class="accomplishments__value">настроенных дискордов</div>
          </div>
        </div>
        <div class="accomplishments__row2">
          <div class="accomplishments__element2">
            <div class="accomplishments__results">>9</div>
            <div class="accomplishments__value">
              of launched Ambassador programs
            </div>
          </div>
          <div class="accomplishments__element2">
            <div class="accomplishments__results">>20</div>
            <div class="accomplishments__value">настроенных дискордов</div>
          </div>
          <div class="accomplishments__element2">
            <div class="accomplishments__results">>200</div>
            <div class="accomplishments__value">events are launched</div>
          </div>
          <div class="accomplishments__element2">
            <div class="accomplishments__results">>5000</div>
            <div class="accomplishments__value">
              people are cited from partners
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-review-carousel></app-review-carousel>
<app-animation></app-animation>
<app-portfolio></app-portfolio>
<app-footer></app-footer>
