.page {
  &__apply {
  }
}
.apply {
  padding-top: 180px;
  background-image: url(../../../assets/images/bgcImg.png);
  background-size: cover;
  min-height: 400px;
  background-position: center 70%;
  background-repeat: no-repeat;
  @media (max-width: 767px) {
    background-position: center center;
    min-height: 350px;
  }
  @media (max-width: 480px) {
    padding-top: 130px;
    min-height: 300px;
  }
  &__body {
    padding: 0 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  &__value {
    padding-left: 15px;
    font-family: Rubik;
    color: white;
    font-weight: bold;
    font-size: 64px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
  }
  &__title {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 50%;
    padding: 5px 15px;
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  }
  &__btn {
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0px;
    width: 220px;
    border-radius: 5px;
    border: none;
    &:hover {
      background-color: #9c9c9c;
    }
  }
  @media (max-width: 767px) {
    &__title {
      font-size: 30px;
    }
    &__value {
      font-size: 52px;
    }
    &__btn {
      font-size: 18px;
      width: 160px;
    }
  }
  @media (max-width: 480px) {
    .apply {
      min-height: 300px !important;
    }
    &__title {
      font-size: 24px;
    }
    &__value {
      font-size: 38px;
    }
    &__btn {
      font-size: 14px;
      width: 130px;
    }
  }
}
.container {
}
