<app-header></app-header>
<ng-container *transloco="let text">
  <section class="bgi">
    <div class="container">
      <div class="team__title">{{ text("our-team.title") }}</div>
      <div class="team__body">
        <div class="team-member__body">
          <div class="team-member__value-block">
            <div class="team-member__img">
              <img src="../../../assets/images/team-icons/Berimir.jpg" alt="" />
            </div>
            <h2 class="team-member__nick">Berimir</h2>
            <p class="team-member__desc">{{ text("our-team.berimir") }}</p>
          </div>
        </div>
        <div class="team-member__body">
          <div class="team-member__value-block">
            <div class="team-member__img">
              <img src="../../../assets/images/team-icons/Porhol.jpg" alt="" />
            </div>
            <h2 class="team-member__nick">Porhol</h2>
            <p class="team-member__desc">{{ text("our-team.porhol") }}</p>
          </div>
        </div>
        <div class="team-member__body">
          <div class="team-member__value-block">
            <div class="team-member__img">
              <img src="../../../assets/images/team-icons/Shakal.jpg" alt="" />
            </div>
            <h2 class="team-member__nick">Shakal</h2>
            <p class="team-member__desc">{{ text("our-team.shakal") }}</p>
          </div>
        </div>
        <div class="team-member__body">
          <div class="team-member__value-block">
            <div class="team-member__img">
              <img src="../../../assets/images/team-icons/Splow.jpg" alt="" />
            </div>
            <h2 class="team-member__nick">Splow</h2>
            <p class="team-member__desc">{{ text("our-team.splow") }}</p>
          </div>
        </div>
        <div class="team-member__body">
          <div class="team-member__value-block">
            <div class="team-member__img">
              <img src="../../../assets/images/team-icons/Nik.jpg" alt="" />
            </div>
            <h2 class="team-member__nick">Nick</h2>
            <p class="team-member__desc">{{ text("our-team.nick") }}</p>
          </div>
        </div>

        <div class="team-member__body">
          <div class="team-member__value-block">
            <div class="team-member__img">
              <img src="../../../assets/images/team-icons/Dondi.jpg" alt="" />
            </div>
            <h2 class="team-member__nick">Dondi</h2>
            <p class="team-member__desc">{{ text("our-team.dondi") }}</p>
          </div>
        </div>
        <div class="team-member__body">
          <div class="team-member__value-block">
            <div class="team-member__img">
              <img src="../../../assets/images/team-icons/Dondi.jpg" alt="" />
            </div>
            <h2 class="team-member__nick">Hleb</h2>
            <p class="team-member__desc">{{ text("our-team.hleb") }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<app-footer></app-footer>
