.page {
  &__footer {
    background-color: #d9d9d9;
  }
}
.footer {
  margin-top: 100px;
  &__body {
    min-height: 140px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    img {
      height: 80px;
    }
  }

  &__links {
    margin-top: -20px;
    position: relative;
  }

  &__links-title {
    font-size: 20px;
    font-weight: bold;
  }

  &__links-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 4px;
    padding: 5px 0px;
    a {
      &:hover {
        transform: scale(0.9);
        transition: ease 0.3s;
      }
      padding-left: 10px;
      &:first-child {
        padding-left: 0px;
        &:hover svg path {
          fill: #0088cc;
        }
      }
      &:nth-child(2) {
        &:hover svg path {
          fill: #15202b;
        }
      }
      &:nth-child(3) {
        &:hover svg path {
          fill: #5865f2;
        }
      }
      &:nth-child(4) {
        &:hover svg path {
          fill: #28a745;
        }
      }
      img {
        padding: 10px 0px;
        height: 26px;
      }
    }
  }

  &__links-btn {
    position: absolute;
    width: fit-content;
    background-color: black;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    &:hover {
      font-weight: bold;
      padding: 5px 9px;
      transition: 0.3s ease;
      background-color: #28a745;
    }
    &:active {
      outline: 1px solid black;
    }
  }
}
.container {
}
