<footer class="page__footer footer">
  <div class="container">
    <div class="footer__body">
      <div class="footer__logo">
        <img src="../../../assets/images/fLogo.png" alt="" />
      </div>
      <div class="footer__links">
        <div class="footer__links-title">Follow us on:</div>
        <div class="footer__links-elements">
          <a href="">
            <img src="../../../assets/images/telegram.png" alt=""
          /></a>
          <a href="">
            <img src="../../../assets/images/twitter.png" alt=""
          /></a>
          <a href="">
            <img src="../../../assets/images/discord.png" alt=""
          /></a>
          <a href=""> <img src="../../../assets/images/git.png" alt="" /></a>
        </div>
        <div class="footer__links-btn" routerLink="contact-us">Book a call</div>
      </div>
    </div>
  </div>
</footer>
