<ng-container *transloco="let text">
  <header class="header">
    <div class="container">
      <div class="header__body">
        <a href="/about-us" class="header__logo">
          <img src="../../../assets/images/fLogo.png" alt="" />
        </a>
        <nav class="header__menu" [ngClass]="{ active: isActive }">
          <ul class="header__list">
            <li routerLinkActive="activee">
              <a href="" class="header__link" routerLink="/about-us">{{
                text("navigation.about-us")
              }}</a>
            </li>
            <li routerLinkActive="activee">
              <a href="" class="header__link" routerLink="/for-partners">{{
                text("navigation.partners")
              }}</a>
            </li>
            <!-- <li routerLinkActive="activee">
              <a href="" class="header__link" routerLink="/p2e">P2E</a>
            </li> -->
            <li routerLinkActive="activee">
              <a href="" class="header__link" routerLink="/our-team">{{
                text("navigation.team")
              }}</a>
            </li>
          </ul>
        </nav>
        <div class="header__lang-nav lang">
          <nav class="lang__menu">
            <ul class="lang__list">
              <li>
                <div class="lang__body" (click)="toggleSublist()">
                  <p>{{ currentLang }}</p>
                  <div>
                    <span
                      class="arrow-down"
                      [ngClass]="{ arrowup: sublistOpen }"
                    ></span>
                  </div>
                </div>
                <ul class="sub-lang__list" [ngClass]="{ open: sublistOpen }">
                  <li *ngFor="let language of secondaryLanguages">
                    <a (click)="languageChange($event)">{{ language }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <div
            class="header__burger"
            [ngClass]="{ active: isActive }"
            (click)="onBurgerClick()"
          >
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </header>
</ng-container>
