<section class="page__question question">
  <div class="container">
    <div class="question__body">
      <h2 class="question__title title-rigth">Часто задаваемые вопросы</h2>
      <div class="question__items">
        <div class="question__item-body">
          <div class="question__item" (click)="onQuestionClick()">
            <p class="question__value">ВАШИ УСЛУГИ ПЛАТНЫЕ?</p>
            <span class="arrow-down"></span>
          </div>
          <div class="question__sub-item" [ngClass]="{ active: isActive }">
            Мы на возмездной основе предоставляем услуги бизнесу. Тарифы
            отличаются от пула задач, которые мы будем выполнять. Мы гарантируем
            качество оказываемых услуг, так как мы постоянно этим занимаемся и
            являемся профессионалами своего дела!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
