.team-member {
  &__body {
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  &__img {
    position: relative;
    z-index: 6;
    img {
      width: 100%;
      height: 150px;
      border-radius: 15px;
      display: block;
      transition: transform 0.3s ease; /* Анимация при наведении */
    }
  }

  &__value-block {
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    top: -30px;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    margin: -20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &__nick {
  }

  &__desc {
  }
}
