form {
  align-items: center;
  position: relative;
  padding-top: 180px;
  padding-bottom: 35px;
  @media (max-width: 767px) {
    padding-top: 160px;
  }
}

.container {
  margin: 0 auto;
}
.row {
}

.form-container {
  text-align: center;
  display: flex;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;

  input {
    background-color: #ededed;
    border: none;
    padding: 20px;
    padding-top: 30px;
    width: 100%;
    min-height: 40px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    outline: none;
  }
  textarea {
    padding-top: 40px !important;
    width: 100%;
    height: 100px;
    background-color: #ededed;
    border: none;
    padding: 20px;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  label {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-weight: bold;
  }
  .form-btn {
    position: relative;
    padding-top: 20px;
    font-size: 22px;
    font-weight: bold;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
    &:hover {
      background-color: #dbdbdb;
    }
    &:active {
      outline: 1px solid rgb(156, 156, 156);
      box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
    }
  }
}
