<app-header></app-header>
<app-about-us-section></app-about-us-section>
<ng-component></ng-component>
<ng-container *transloco="let text"
  ><section class="page__our-history our-history">
    <div class="our-history__container container">
      <div class="our-history__body-block">
        <div class="our-history__body">
          <h2 class="our-history__title title-rigth">История зарождения</h2>
          <p class="our-history__value">
            {{ text("about-us.about-us") }}
          </p>
        </div>
        <div class="left-block">
          <img src="../../../assets/images/about-us-logo.png" alt="" />
        </div>
      </div>
    </div>
  </section>
  <section class="page__links links">
    <div class="container">
      <div class="links__body">
        <div class="links__title-left title-left">Ищите нас здесь</div>
        <div class="links__value">
          Мы частые гости различных стримов, да и сами любим их проводить
        </div>
        <div class="links__item-link item-link">
          <div class="item-link__value">
            Например, любим приходить к Ивану Ломакину на стримы
          </div>
          <a href="" class="item-link__link">Подробнее</a>
        </div>
        <div class="links__item-link item-link">
          <div class="item-link__value">
            Приходили и к юным дарованиям в крипто-медиа <br />
            Fomo Seduction
          </div>
          <a href="" class="item-link__link">Подробнее</a>
        </div>
        <div class="links__item-link item-link">
          <div class="item-link__value">
            В Cosmos Ecosystem и Cryptobase часто выходят подкасты с нами
          </div>
          <a href="" class="item-link__link">Подробнее</a>
        </div>
        <div class="links__item-link item-link">
          <div class="item-link__value">
            Наш телеграм чат и дискорд всегда рады гостям, там нет <br />
            ботов и вам всегда ответят на ваши вопросы! Fomo Seduction
          </div>
          <a href="" class="item-link__link">Подробнее</a>
        </div>
      </div>
    </div>
  </section>
  <section style="padding-top: 60px">
    <div class="container">
      <div class="links__title-left title-left">Команда</div>
    </div>
    <div class="animation__body">
      <div class="scroll" style="--t: 50s">
        <div>
          <span
            ><img src="../../../assets/images/team-icons/Berimir.jpg" alt="" />
            <p>Berimir</p></span
          >
          <span
            ><img src="../../../assets/images/team-icons/Porhol.jpg" alt="" />
            <p>Porhol</p></span
          >
          <span
            ><img src="../../../assets/images/team-icons/Shakal.jpg" alt="" />
            <p>Shakal</p></span
          >
          <span
            ><img src="../../../assets/images/team-icons/Splow.jpg" alt="" />
            <p>Splow</p></span
          >
          <span
            ><img src="../../../assets/images/team-icons/Dondi.jpg" alt="" />
            <p>Dondi</p></span
          >
          <span
            ><img src="../../../assets/images/team-icons/Nik.jpg" alt="" />
            <p>Nik</p></span
          >
        </div>
        <div>
          <span
            ><img src="../../../assets/images/team-icons/Berimir.jpg" alt="" />
            <p>Berimir</p></span
          >
          <span
            ><img src="../../../assets/images/team-icons/Porhol.jpg" alt="" />
            <p>Porhol</p></span
          >
          <span
            ><img src="../../../assets/images/team-icons/Shakal.jpg" alt="" />
            <p>Shakal</p></span
          >
          <span
            ><img src="../../../assets/images/team-icons/Splow.jpg" alt="" />
            <p>Splow</p></span
          >
          <span
            ><img src="../../../assets/images/team-icons/Dondi.jpg" alt="" />
            <p>Dondi</p></span
          >
          <span
            ><img src="../../../assets/images/team-icons/Nik.jpg" alt="" />
            <p>Nik</p></span
          >
        </div>
      </div>
    </div>
  </section>
</ng-container>

<app-footer></app-footer>
