//////////////// OUR HISTORY COMP
.page {
  &__our-history {
    background-image: url(../../../assets/images/background2.png);
    background-color: #f5f5f5;
    background-position: 100% 23%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 20px;
  }
}
.our-history {
  &__container {
    width: 100%;
  }
  &__body-block {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .left-block {
    text-align: center;
    align-items: center;
    img {
      max-width: 90%;
      height: auto;
    }
    width: 40%;
    height: 100%;
  }
  &__body {
    padding: 0 20px;
    width: 60%;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 48px;
    padding-left: 30px;
  }

  &__value {
    background-color: white;
    padding: 10px 10px;
    border-radius: 15px;
    margin: 0 20px;
    font-size: 30px;
    color: black;
    padding-bottom: 20px;
  }
  @media (max-width: 767px) {
    &__title {
      font-size: 24px;
    }
    &__body {
      width: 100%;
    }
    &__value {
      font-size: 20px;
      color: black;
    }

    &__body-block {
      flex-wrap: wrap;
      align-items: center;
    }
    .left-block {
      width: 100%;
      align-items: center;
      text-align: center;
      img {
        max-width: 55%;
        height: auto;
      }
    }
  }
  @media (max-width: 480px) {
    &__value {
      font-size: 18px;
      color: black;
    }
    .left-block {
      img {
        max-width: 50%;
        height: auto;
      }
    }
  }
}

///////////////////////
///
///
/////////////////////////////////

.page {
  &__links {
    padding-top: 18px;
  }
}
.links {
  &__body {
    padding: 0 20px;
  }
  &__title-left {
    margin-left: 0;
  }

  &__value {
    padding-top: 20px;
    margin-left: 15px;
    font-size: 32px;
    font-weight: bold;
  }
  @media (max-width: 767px) {
    &__value {
      font-size: 24px;
    }
  }
  @media (max-width: 480px) {
    &__title-left {
      width: 90%;
    }
  }

  &__item-link {
  }
}
.container {
}
.item-link {
  margin-right: 20px;
  margin-left: 15px;
  &__value {
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;

    padding-top: 60px;
  }

  &__link {
    border-top: 2px solid black;
    padding-top: 5px;
    font-size: 28px;
    font-weight: bold;
    color: #5a964c;
  }

  @media (max-width: 767px) {
    &__value {
      padding-top: 30px;
      font-size: 20px;
    }
    &__link {
      font-size: 20px;
    }
  }
  @media (max-width: 480px) {
    &__value {
      padding-top: 25px;
      font-size: 16px;
    }
    &__link {
      font-size: 16px;
    }
    &__video {
      padding-top: 20px;
      iframe {
        min-height: 200px;
      }
    }
  }
}
.right {
  text-align: right;
  @media (max-width: 767px) {
    text-align: left;
  }
}
////animation//

.container {
}
.links {
  &__title-left {
    margin-bottom: 0px;
    margin-left: 20px;
  }
}
.title-rigth {
  margin-bottom: 30px;
  font-weight: bold;
}

.animation {
  &__body {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(255, 255, 255);
  }
}
.scroll {
  background-color: #ededed;
  margin-top: 40px;
  position: relative;
  display: flex;
  width: 80%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
  span {
    &:hover {
      transform: scale(0.9);
      transition: ease 0.3s;
      p {
        transition: ease 0.3s;
      }
    }
    img {
      margin-top: 5px;
      width: 80px;
      height: 80px;
      cursor: pointer;
      border-radius: 5px;
    }
    p {
      padding-top: 7px;
      padding-bottom: 2px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 40px 40px 80px;
    background: grey;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
    @media (max-width: 767px) {
      margin: 40px 40px 40px 40px;
    }
  }
}
.scroll div {
  display: flex;
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var(--t) * -1);
}
.scroll div {
  &:nth-child(2) {
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
  }
}
@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
