<ng-container *transloco="let text">
  <section class="page__apply apply">
    <div class="container">
      <div class="apply__body">
        <!-- <h2 class="apply__title">О НАС</h2> -->
        <h1 class="apply__value">
          {{ text("about-us-sect.value1") }} <br />{{
            text("about-us-sect.value2")
          }}
        </h1>
        <!-- <button href="" class="apply__btn" routerLink="/contact-us">
        Подать заявку
      </button> -->
      </div>
    </div>
  </section>
</ng-container>
