<div class="container">
  <div class="links__title-left title-rigth">Команда</div>
</div>
<div class="animation__body">
  <div class="scroll" style="--t: 60s">
    <div>
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
    </div>
    <div>
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
      <span
        ><img src="../../../assets/images/18.png" alt="" />
        <p>text</p></span
      >
    </div>
  </div>
</div>
