<main class="page">
  <app-about-section></app-about-section>
  <app-our-history-section></app-our-history-section>
  <section class="page__links links">
    <div class="container">
      <div class="links__body">
        <div class="links__title-left title-left">Ищите нас здесь</div>
        <div class="links__value">
          Мы частые гости различных стримов, да и сами любим их проводить
        </div>
        <div class="links__item-link item-link">
          <div class="item-link__value">
            Например, любим приходить к Ивану Ломакину на стримы
          </div>
          <a href="" class="item-link__link">Подробнее</a>
        </div>
        <div class="links__item-link item-link">
          <div class="item-link__value">
            Приходили и к юным дарованиям в крипто-медиа <br />
            Fomo Seduction
          </div>
          <a href="" class="item-link__link">Подробнее</a>
        </div>
        <div class="links__item-link item-link">
          <div class="item-link__value">
            В Cosmos Ecosystem и Cryptobase часто выходят подкасты с нами
          </div>
          <a href="" class="item-link__link">Подробнее</a>
        </div>
        <div class="links__item-link item-link">
          <div class="item-link__value">
            Наш телеграм чат и дискорд всегда рады гостям, там нет <br />
            ботов и вам всегда ответят на ваши вопросы! Fomo Seduction
          </div>
          <a href="" class="item-link__link">Подробнее</a>
        </div>
        <div class="border"></div>
        <div class="item-link__video">
          <iframe
            class=""
            src="https://www.youtube.com/embed/yyHA3BiBM5k?start=423"
            frameborder="0"
            allowfullscreen
          ></iframe>
          <iframe
            src="https://www.youtube.com/embed/T13IoiPj1oU"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </section>
</main>
