<section class="page__our-history our-history">
  <div class="our-history__container container">
    <div class="left-block">
      <!-- Здесь можете поместить контент для левого блока -->
    </div>
    <div class="our-history__body">
      <h2 class="our-history__title title-rigth">История зарождения</h2>
      <p class="our-history__value">
        <span style="font-weight: bold">Сrypto Genius Squad</span> - из
        небольшого лампового курса по амбассадорским программам перерос в
        полномасштабный коммьюнити крипто стартап со своими целями и с
        сотрудниками на зарплате. На протяжении всего времени только лучшие и
        самые активные студенты попадали в нашу команду, поэтому смело можно
        сказать, что мы - профессионалы своего дела.  С апреля 2022 года под
        эгидой Ambassadors School запустилось множество реальных проектов, с
        которыми вы можете ознакомиться в разделе портфолио. Про нас всегда
        пишут честные и справедливые отзывы (как студенты, так и партнеры).
      </p>
    </div>
  </div>
</section>
