.page {
  &__reviews {
    padding-top: 50px;
  }
}
.reviews {
  &__body {
  }

  &__title {
  }

  &__carousel {
    padding-top: 50px;
  }
}
.container {
}
.title-rigth {
}
.swiper-container {
  overflow-x: hidden;
}
.swiper-wrapper {
  margin: 0 20px;
}
.swiper-slide {
  min-height: 400px;
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 5px;
}
.subtitle {
  font-size: 22px;
  font-weight: bold;
}
.value {
  font-size: 18px;
  font-weight: bold;
  &:last-child {
    border-top: 1px solid black;
    padding-top: 5px;
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  .swiper-slide {
    min-height: 250px;
  }
  .subtitle {
    font-size: 18px;
    font-weight: bold;
  }
  .value {
    font-size: 16px;
    font-weight: bold;
  }
}
@media (max-width: 480px) {
  .swiper-slide {
    min-height: 225px;
  }
  .subtitle {
    font-size: 16px;
    font-weight: bold;
  }
  .value {
    font-size: 14px;
    font-weight: bold;
  }
}
.swiper-pagination {
}
