//////////////////
.page {
  top: 0;
  &__responsibilities {
    background-color: #f5f5f5;
    padding-top: 135px;
    padding-bottom: 30px;
    @media (max-width: 767px) {
      padding-top: 100px;
    }
  }
}
.responsibilities {
  &__body {
    margin: 0 20px;
  }

  &__items {
    padding-top: 40px;
    padding-bottom: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  &__item {
    display: flex;
    flex: 0 1 24%;
    min-height: 120px;
    background-color: white;
    border-radius: 20px;
    @media (max-width: 990px) {
      flex: 0 1 44%;
    }
  }

  &__item-value {
    padding: 15px 15px;
    font-size: 18px;
    font-weight: bold;
  }
  @media (max-width: 560px) {
    &__item {
      flex: 0 1 90%;
      min-height: 100px;
    }
  }
}

////////
///
///

.page {
  &__advantage {
    background-color: #f5f5f5;
  }
}
.advantage {
  &__body {
    margin: 0 20px;
  }

  &__title {
  }

  &__items {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex: 0 1 48%;
    gap: 10px;

    img {
      padding: 20px 10px 20px 20px;
      width: 40px;
      height: 45px;
      // &:hover {
      //   transform: scale(1.1);
      //   transition: 0.5s ease;
      // }
    }
  }

  &__value {
    padding: 10px 0px;
    font-size: 22px;
    font-weight: bold;
    padding-right: 15px;
  }

  &__btn {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0px;
    width: 220px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: black;
    &:hover {
      transform: scale(0.9);
      transition: 0.4s ease;
      background-color: #28a745;
      color: white;
      border-radius: 10px;
    }
    &:active {
      transform: scale(1);
    }
  }
  @media (max-width: 767px) {
    &__item {
      flex: 0 1 100%;
    }
  }
}

.page {
  &__accomplishments {
    padding-top: 40px;
    background-color: #f5f5f5;
  }
}
///////////////////////////////////
.accomplishments {
  &__body {
    padding-top: 20px;

    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding-bottom: 40px;
  }
  &__title {
  }
  &__second-body {
    width: 100%;
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image {
    border-right: 3px solid black;

    img {
      width: 300px;
    }
  }

  &__value-items {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
      font-size: 24px;
      font-weight: bold;
    }
  }
  @media (max-width: 767px) {
    &__body {
    }

    &__second-body {
      padding-top: 0px;
    }

    &__image {
      display: flex;
      justify-content: center;
      width: 100%;
      border-right: none;
    }

    &__value-items {
      width: 100%;
      flex-direction: row;
      gap: 15px;
      flex-wrap: wrap;
      justify-content: center;
      p {
        width: 43%;
        background-color: #f5f5f5;
        border-radius: 20px;
        padding: 10px 10px;
        font-size: 18px;
      }
    }
  }
  @media (max-width: 767px) {
    &__value-items {
      p {
        width: 100%;
      }
    }
  }
}
